<style>
    .hide-this {
        display: none;
    }
</style>

<div id="decision" class="form-hint hide-this">{{ data['decision'] }}</div>
<div id="decision-b" class="form-hint hide-this">{{ data['decision-b'] }}</div>
<div id="paymentMethodGroup" class="form-hint hide-this">{{data['payment-method-group']}}</div>
<div id="SJPsessionStarted" class="form-hint hide-this">{{data['SJPsessionStarted']}}</div>
<div id="delegatePowers" class="form-hint hide-this">{{data['delegate-powers-group']}}</div>