{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    tr {
        vertical-align: top;
    }
    
</style>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            {% include "includes/persist-info-banner.html" %}

        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge top_0 bottom_30">Add or change personal details</h1>
            
            <p class="top_30">Keep these personal details up to date.</p>

            
            
            
            <form class="form" action="" method="post">
                    
                <p class="bold top_30">Personal details</p>
            
                <div class="form-group bottom_15">
                    <fieldset>
                        <label class="form-label" for="new-title">Title (optional)</label>
                        <input class="form-control" id="new-title" type="text" name="new-title" value="{{data['defendents-title']}}">
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <fieldset>
                        <label class="form-label" for="new-first-name">First name</label>
                        <input class="form-control" id="new-first-name" type="text" name="new-first-name" value="{{data['defendents-first-name']}}">

                        <label class="form-label top_15" for="new-last-name">Last name</label>
                        <input class="form-control" id="new-last-name" type="text" name="new-last-name" value="{{data['defendents-last-name']}}">
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <fieldset class="inline">

                        <!-- Date of birth -->
                        <legend>
                            <span class="form-label">Date of birth</span>
                            <span class="form-hint">For example, 31 3 1980</span>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="new-dob-day">Day</label>
                                <input class="form-control" id="new-dob-day" name="new-dob-day" type="number" pattern="[0-9]*" value="{{data['defendents-dob-day']}}">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="new-dob-month">Month</label>
                                <input class="form-control" id="new-dob-month" name="new-dob-month" type="number" pattern="[0-9]*" value="{{data['defendents-dob-month']}}">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="new-dob-year">Year</label>
                                <input class="form-control" id="new-dob-year" name="new-dob-year" type="number" pattern="[0-9]*" value="{{data['defendents-dob-year']}}">
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <p class="bold top_60">Address</p>

                <div class="form-group">
                    <fieldset>
                        <label class="form-label" for="new-address">Address</label>
                        <input class="form-control" id="new-address-line-1" type="text" name="new-address-line-1" value="{{data['defendents-address-line-1']}}">
                        <input class="form-control top_5" id="new-address-line-2" type="text" name="new-address-line-2" value="{{data['defendents-address-line-2']}}">

                        <label class="form-label top_15" for="new-town-or-city">Town or city</label>
                        <input class="form-control" id="new-town-or-city" type="text" name="new-town-or-city" value="{{data['defendents-town-or-city']}}">

                        <label class="form-label top_15" for="new-county">County (optional)</label>
                        <input class="form-control" id="new-county" type="text" name="new-county">

                        <label class="form-label top_15" for="new-postcode">Postcode</label>
                        <input class="form-control" id="new-postcode" type="text" name="new-postcode" value="{{data['defendents-postcode']}}">
                    </fieldset>
                </div>

                <p class="bold top_60">Email and telephone</p>

                <div class="form-group bottom_15">
                    <fieldset>
                        <label class="form-label" for="new-email">Email</label>
                        <input class="form-control" id="new-email" type="text" name="new-email" value="{{data['defendents-email']}}">
                    </fieldset>
                </div>

                <div class="form-group bottom_15">
                    <fieldset>
                        <label class="form-label" for="new-home-telephone">Home telephone</label>
                        <input class="form-control" id="new-home-telephone" type="text" name="new-home-telephone" value="{{data['defendents-home-telephone']}}">
                    </fieldset>
                </div>

                <div class="form-group bottom_15">
                    <fieldset>
                        <label class="form-label" for="new-mobile">Mobile</label>
                        <input class="form-control" id="new-mobile" type="text" name="new-mobile" value="{{data['defendents-mobile']}}">
                    </fieldset>
                </div>

                <input class="button top_30" type="submit" value="Save">
                <div class="top_15"><a href="#">Cancel</a></div>
            </form>

        </div>
        
        <div class="coloumn-one-third">
            <!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE -->
            <!--
            <div class="right-column-nav">
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p><a href="">Withdraw offence</a></p>
            </div>
            -->
        </div>
    </div>

</main>

{% endblock %}


