6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    .information td {
        border: none;
        padding:5px;
    }
</style>

<script>
    window.onload = function() {
                
    }
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            {% include "includes/persist-info-banner.html" %}

        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">
                        
            <h1 class="heading-xlarge top_0 bottom_30">Attach to earnings</h1>

            <form class="form" action="" method="post">
                <div class="form-group">

                    <!-- EMPLOYER DETAILS -->
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">Employer details</h1>
                        </legend>
                        
                        <fieldset>
                            <label class="form-label" for="a2e-employee-reference">Employee reference (optional)</label>
                            <input class="form-control" id="a2e-employee-reference" type="text" name="a2e-employee-reference" value="{{ data['a2e-employee-reference'] }}">
                        </fieldset>
                        
                        <fieldset class="top_15">
                            <label class="form-label" for="a2e-employer-name">Employer name</label>
                            <input class="form-control" id="a2e-employer-name" type="text" name="a2e-employer-name" value="{{ data['a2e-employer-name'] }}">
                        </fieldset>
                        
                        <fieldset class="top_15">
                            <label class="form-label" for="a2e-employer-address-line-1">Building and street</label>
                            <input class="form-control" id="a2e-employer-address-line-1" type="text" name="a2e-employer-address-line-1" value="{{ data['a2e-employer-address-line-1'] }}">
                            <input class="form-control top_5" id="a2e-employer-address-line-2" type="text" name="a2e-employer-address-line-2" value="{{ data['a2e-employer-address-line-2'] }}">
                        </fieldset>

                        <fieldset class="top_15">
                            <label class="form-label" for="a2e-employer-town-or-city">Town or city</label>
                            <input class="form-control" id="a2e-employer-town-or-city" type="text" name="a2e-employer-town-or-city" value="{{ data['a2e-employer-town-or-city'] }}">
                        </fieldset>
                        
                        <fieldset class="top_15">
                            <label class="form-label" for="a2e-employer-postcode">Postcode</label>
                            <input class="form-control" id="a2e-employer-postcode" type="text" name="a2e-employer-postcode" value="{{ data['a2e-employer-postcode'] }}">
                        </fieldset>
                        
                        <fieldset class="top_15">
                            <label class="form-label" for="a2e-employer-telephone">Employer telephone (optional)</label>
                            <input class="form-control" id="a2e-employer-telephone" type="text" name="a2e-employer-telephone" value="{{ data['a2e-employer-telephone'] }}">
                        </fieldset>
                        

                    </fieldset>
                    
                    <!-- REASON FOR ATTACHING TO EARNINGS -->
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">Reason for attaching to earnings</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-a1" type="radio" name="reason-for-attaching-to-earnings-group" value="Compensation ordered" {{ checked('reason-for-attaching-to-earnings-group','Compensation ordered') }}>
                            <label for="radio-a1">Compensation ordered</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-a2" type="radio" name="reason-for-attaching-to-earnings-group" value="Defendant failed to pay in past" {{ checked('reason-for-attaching-to-earnings-group','Defendant failed to pay in past') }}>
                            <label for="radio-a2">Defendant failed to pay in past</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-a3" type="radio" name="reason-for-attaching-to-earnings-group" value="Defendant requested this" {{ checked('reason-for-attaching-to-earnings-group','Defendant requested this') }}>
                            <label for="radio-a3">Defendant requested this</label>
                        </div>
                    </fieldset>
                    
                    <!-- SET RESERVE TERMS -->
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">Set reserve terms</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-b1" type="radio" name="set-reserve-terms-group" value="Lump sum within 14 days" {{ checked('set-reserve-terms-group','Lump sum within 14 days') }}>
                            <label for="radio-b1">Lump sum within 14 days</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-b2" type="radio" name="set-reserve-terms-group" value="Lump sum within 28 days" {{ checked('set-reserve-terms-group','Lump sum within 28 days') }}>
                            <label for="radio-b2">Lump sum within 28 days</label>
                        </div>
                        
                        <div class="multiple-choice" data-target="lump-sum-plus-instalment">
                            <input id="radio-b3" type="radio" name="set-reserve-terms-group" value="Lump sum plus instalments" {{ checked('set-reserve-terms-group','Lump sum plus instalments') }}>
                            <label for="radio-b3">Lump sum plus instalments</label>
                        </div>
                        <div class="js-hidden" id="lump-sum-plus-instalment">
                            <div class="panel panel-border-wide top_15">
                                
                                <fieldset>
                                    <label class="form-label" for="lump-sum-amount">Lump sum amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="lump-sum-amount" type="number" min="0.0" step="0.01"  name="lump-sum-amount" value="{{ data['lump-sum-amount'] }}">
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_15">
                                    <label class="form-label" for="instalments-amount">Instalment amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="instalments-amount" type="number" min="0.0" step="0.01"  name="instalments-amount" value="{{ data['instalments-amount'] }}">
                                    </div>
                                </fieldset>

                                <fieldset class="top_15">
                                    <legend>
                                        <p>How often should instalment be made?</p>
                                    </legend>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-1" type="radio" name="lump-sum-instalment-frequency-group" value="Weekly" {{ checked('lump-sum-instalment-frequency-group','Weekly') }}>
                                        <label for="instalment-frequency-1">Weekly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-2" type="radio" name="lump-sum-instalment-frequency-group" value="Fortnightly" {{ checked('lump-sum-instalment-frequency-group','Fortnightly') }}>
                                        <label for="instalment-frequency-2">Fortnightly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-3" type="radio" name="lump-sum-instalment-frequency-group" value="Monthly" {{ checked('lump-sum-instalment-frequency-group','Monthly') }}>
                                        <label for="instalment-frequency-3">Monthly</label>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_15">
                                    <legend>
                                        <span class="form-label">Instalment start date</span>
                                        <span class="form-hint">For example, 31 3 2018</span>
                                    </legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-day">
                                            <label class="form-label" for="day">Day</label>
                                            <input class="form-control" id="day" name="day" type="number" pattern="[0-9]*" value="{{ data['day'] }}">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label class="form-label" for="month">Month</label>
                                            <input class="form-control" id="month" name="month" type="number" pattern="[0-9]*" value="{{ data['month'] }}">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label class="form-label" for="year">Year</label>
                                            <input class="form-control" id="year" name="year" type="number" pattern="[0-9]*" value="{{ data['year'] }}">
                                        </div>
                                    </div>
                                </fieldset>
                                
                            </div>
                        </div>
                        
                        <div class="multiple-choice" data-target="instalments-only">
                            <input id="radio-b4" type="radio" name="set-reserve-terms-group" value="Instalments only" {{ checked('set-reserve-terms-group','Instalments only') }}>
                            <label for="radio-b4">Instalments only</label>
                        </div>
                        <div class="js-hidden" id="instalments-only">
                            <div class="panel panel-border-wide top_15">
                                <label class="form-label" for="instalments-only-amount">Instalment amount</label>
                                <div class="input-icon">
                                    <i>£</i>
                                    <input class="form-control" id="instalments-only-amount" type="number" min="0.0" step="0.01"  name="instalments-only-amount" value="{{ data['instalments-only-amount'] }}">
                                </div>
                                
                                <fieldset class="top_15">
                                    <legend>
                                        <p>How often should instalment be made?</p>
                                    </legend>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-1" type="radio" name="instalment-only-frequency-group-2" value="Weekly" {{ checked('instalment-only-frequency-group-2','Weekly') }}>
                                        <label for="instalment-frequency-1">Weekly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-2" type="radio" name="instalment-only-frequency-group-2" value="Fortnightly" {{ checked('instalment-only-frequency-group-2','Fortnightly') }}>
                                        <label for="instalment-frequency-2">Fortnightly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="instalment-frequency-3" type="radio" name="instalment-only-frequency-group-2" value="Monthly" {{ checked('instalment-only-frequency-group-2','Monthly') }}>
                                        <label for="instalment-frequency-3">Monthly</label>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_15">
                                    <legend>
                                        <span class="form-label">Instalment start date</span>
                                        <span class="form-hint">For example, 31 3 2018</span>
                                    </legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-day">
                                            <label class="form-label" for="day2">Day</label>
                                            <input class="form-control" id="day2" name="day2" type="number" pattern="[0-9]*" value="{{ data['day2'] }}">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label class="form-label" for="month2">Month</label>
                                            <input class="form-control" id="month2" name="month2" type="number" pattern="[0-9]*" value="{{ data['month2'] }}">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label class="form-label" for="year2">Year</label>
                                            <input class="form-control" id="year" name="year2" type="number" pattern="[0-9]*" value="{{ data['year2'] }}">
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        
                    </fieldset>
                    
                    <input class="button top_15" type="submit" value="Continue">
                    <div class="top_15"><a href="javascript:history.go(-1);">Back</a></div>

                </div>
            </form>
            
        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr ">
                <h3 class="heading-small">Documents</h3>
                <!-- Thumbnail - small icon -->
                <div class="download-file top_15 bottom_30">
                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                    <div class="download-file-text">
                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                    </div>
                </div>
                
                <h3 class="heading-small">Online plea</h3>
                <p><a href="#">Defendant's online plea</a></p>

            </div>
        </div>

    </div>

</main>

{% endblock %}