6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        
        
        var defendants_plea = document.getElementById('defendantsPlea').innerText;
        var case_status = document.getElementById('case-status').innerText;
        var decision = document.getElementById('decision').innerText;
        
        if (decision == "") {
            if (defendants_plea == "NO PLEA RECEIVED") {
                document.getElementById('case-status').innerText = "No plea received";
            } else {
                document.getElementById('case-status').innerText = "Plea received - ready for decision";
            }
        } else if (decision != "") {
            document.getElementById('case-status').innerText = "Completed";
            document.getElementById('changePleaLink').style.display = "none";
        }
        
        if (defendants_plea == "NO PLEA RECEIVED") {
            document.getElementById('noPlea').style.display = "block";
            document.getElementById('guiltyPlea').style.display = "none";
            document.getElementById('notGuiltyPlea').style.display = "none";
        } else if ((defendants_plea == "PLEADED GUILTY SJP") || (defendants_plea == "PLEADED GUILTY") || (defendants_plea == "PLEADED GUILTY - COURT HEARING REQUESTED")) {
            document.getElementById('noPlea').style.display = "none";
            document.getElementById('guiltyPlea').style.display = "block";
            document.getElementById('notGuiltyPlea').style.display = "none";
        } else if (defendants_plea == "PLEADED NOT GUILTY") {
            document.getElementById('noPlea').style.display = "none";
            document.getElementById('guiltyPlea').style.display = "none";
            document.getElementById('notGuiltyPlea').style.display = "block";
        }
            // No plea received
            // Pleaded Guilty SJP
            // Pleaded Guilty - Court hearing requested
            // Pleaded Not Guilty
            

        
        
        
        
        
        
        
        
        var dischargeConfirmCollectionOrder = document.getElementById('dischargeConfirmCollectionOrder').innerText;
        if (dischargeConfirmCollectionOrder == "on") {
            document.getElementById('dischargeConfirmCollectionOrder').innerText = "Yes";
        } else {
            document.getElementById('dischargeConfirmCollectionOrder').innerText = "No";
        }

        
        
        

        
        
        
        
        
        if (document.getElementById('benefits-being-claimed').innerText == "No") {
            document.getElementById('benefits-details-group').style.display = "none"
        }
        
        
        var incomeCalculation2 = Number(document.getElementById("incomeCalculation").innerText);
        
        if (document.getElementById('incomeFrequency').innerText == "Weekly") {
            document.getElementById("incomeCalculation").innerText = incomeCalculation2;
        } else if (document.getElementById('incomeFrequency').innerText == "Fortnightly") {
            document.getElementById("incomeCalculation").innerText = incomeCalculation2/2;
        } else if (document.getElementById('incomeFrequency').innerText == "Monthly") {
            document.getElementById("incomeCalculation").innerText = incomeCalculation2/4;
        } else if (document.getElementById('incomeFrequency').innerText == "Annually") {
            document.getElementById("incomeCalculation").innerText = incomeCalculation2/52;
        }
        
        
        
        
                
        var homeTelephone = document.getElementById('homeTelephone').innerText;
        if(homeTelephone != "") {
            document.getElementById('addHomeTelephone').style.display = "none";
        } else {
            document.getElementById('homeTelephone').style.display = "none";
        }
        
        var dobMonth = document.getElementById('dobMonth').innerText;
        if (dobMonth == "1") {
            document.getElementById('dobMonth').innerText = "January";
        } else if (dobMonth == "2") {
            document.getElementById('dobMonth').innerText = "February";
        } else if (dobMonth == "3") {
            document.getElementById('dobMonth').innerText = "March";
        } else if (dobMonth == "4") {
            document.getElementById('dobMonth').innerText = "April";
        } else if (dobMonth == "5") {
            document.getElementById('dobMonth').innerText = "May";
        } else if (dobMonth == "6") {
            document.getElementById('dobMonth').innerText = "June";
        } else if (dobMonth == "7") {
            document.getElementById('dobMonth').innerText = "July";
        } else if (dobMonth == "8") {
            document.getElementById('dobMonth').innerText = "August";
        } else if (dobMonth == "9") {
            document.getElementById('dobMonth').innerText = "September";
        } else if (dobMonth == "10") {
            document.getElementById('dobMonth').innerText = "October";
        } else if (dobMonth == "11") {
            document.getElementById('dobMonth').innerText = "November";
        } else if (dobMonth == "12") {
            document.getElementById('dobMonth').innerText = "December";
        } 
        
        var dobMonth2 = document.getElementById('dobMonth2').innerText;
        if (dobMonth2 == "1") {
            document.getElementById('dobMonth2').innerText = "January";
        } else if (dobMonth2 == "2") {
            document.getElementById('dobMonth2').innerText = "February";
        } else if (dobMonth2 == "3") {
            document.getElementById('dobMonth2').innerText = "March";
        } else if (dobMonth2 == "4") {
            document.getElementById('dobMonth2').innerText = "April";
        } else if (dobMonth2 == "5") {
            document.getElementById('dobMonth2').innerText = "May";
        } else if (dobMonth2 == "6") {
            document.getElementById('dobMonth2').innerText = "June";
        } else if (dobMonth2 == "7") {
            document.getElementById('dobMonth2').innerText = "July";
        } else if (dobMonth2 == "8") {
            document.getElementById('dobMonth2').innerText = "August";
        } else if (dobMonth2 == "9") {
            document.getElementById('dobMonth2').innerText = "September";
        } else if (dobMonth2 == "10") {
            document.getElementById('dobMonth2').innerText = "October";
        } else if (dobMonth2 == "11") {
            document.getElementById('dobMonth2').innerText = "November";
        } else if (dobMonth2 == "12") {
            document.getElementById('dobMonth2').innerText = "December";
        } 
        
        
        
        
        var warningBannerSwitch = document.getElementById('warningBannerSwitch').innerText;
        if (warningBannerSwitch == "on") {
            document.getElementById('warningBanner').style.display = "block"
        } else {
            document.getElementById('warningBanner').style.display = "none"
        }
        
                
       
        
        
        
        
        
        
        
        
        
        
        
        
        
        /* ************** */
        /* ************** */
        /* ************** */
        /* ************** */
        /* ************** */
        /* ************** */
        
        var howToPayFinal2 = document.getElementById('setReserveTermsGroup').innerText;
        var howToPayFinal = document.getElementById('howToPayGroup').innerText;
                
        if ((howToPayFinal2 == "Lump sum within 14 days") || (howToPayFinal2 == "Lump sum within 28 days")) {
            //document.getElementById('totalPayment').style.display = "block";
            document.getElementById('lumpSumAmount').style.display = "none";
            document.getElementById('instalmentOnly').style.display = "none";
        }
        if (howToPayFinal2 == "Lump sum plus instalments") {
            document.getElementById('totalPayment').style.display = "none";
            //document.getElementById('lumpSumAmount').style.display = "block";
            //document.getElementById('instalmentOnly').style.display = "none";
        }
        if (howToPayFinal2 == "Instalments only") {
            document.getElementById('totalPayment').style.display = "none";
            document.getElementById('lumpSumAmount').style.display = "none";
            //document.getElementById('instalmentOnly').style.display = "block";
        }

        

        // lump sum amount 2 ?????
        
        
        
        
        
        
        
        
        
        
        
        
        /* CHECK DECISION */
        var decisiontype = document.getElementById('decision').innerText;
        if (decisiontype == "Financial penalty") {
            document.getElementById('referToCourtHearingTab').style.display = "none";
            document.getElementById('withdrawTab').style.display = "none";
            document.getElementById('dischargeTab').style.display = "none";
            document.getElementById('dismissTab').style.display = "none";
            
        } else if (decisiontype == "Refer to court hearing") {
            document.getElementById('financialPenaltyTab').style.display = "none"; 
            document.getElementById('withdrawTab').style.display = "none";
            document.getElementById('dischargeTab').style.display = "none";
            document.getElementById('dismissTab').style.display = "none";
            
        } else if (decisiontype == "Withdraw") {
            document.getElementById('financialPenaltyTab').style.display = "none"; 
            document.getElementById('referToCourtHearingTab').style.display = "none";
            document.getElementById('dischargeTab').style.display = "none";
            document.getElementById('dismissTab').style.display = "none";
            
        } else if (decisiontype == "Discharge") {
            document.getElementById('financialPenaltyTab').style.display = "none"; 
            document.getElementById('referToCourtHearingTab').style.display = "none";
            document.getElementById('withdrawTab').style.display = "none";
            document.getElementById('dismissTab').style.display = "none";
            
        } else if (decisiontype == "Dismiss") {
            document.getElementById('financialPenaltyTab').style.display = "none"; 
            document.getElementById('referToCourtHearingTab').style.display = "none";
            document.getElementById('withdrawTab').style.display = "none";
            document.getElementById('dischargeTab').style.display = "none";

        }
        
        var prosecutorCheck = document.getElementById("prosecutorCheck").innerText;
        if (prosecutorCheck == "DVLA (with back duty)") {
            document.getElementById("backDutyLength").style.display = "block";
        } else {
            document.getElementById("backDutyLength").style.display = "none";
            document.getElementById("backDutyLength").style.display = "none";
        }
        
        
        
        
        
        
        
        var caseStatus = document.getElementById("case-status").innerText;
        if (caseStatus == "Completed") {
            document.getElementById("makeADecisionForm").style.display = "none";
            document.getElementById("statmentOfFactGroup").style.display = "none";
            document.getElementById("tabGroup2").style.display = "block";
            document.getElementById("tabGroup2").style.display = "block";
        } else {
            document.getElementById("makeADecisionForm").style.display = "block";
            document.getElementById("statmentOfFactGroup").style.display = "block";
            document.getElementById("tabGroup2").style.display = "none";
        }
        
        
        
        
        
        
        var paymentMonth = document.getElementById("paymentMonth").innerText;
        if (paymentMonth == "1") {
            document.getElementById("paymentMonth").innerText = "January";
        } else if (paymentMonth == "2") {
            document.getElementById("paymentMonth").innerText = "February";
        } else if (paymentMonth == "3") {
            document.getElementById("paymentMonth").innerText = "March";
        } else if (paymentMonth == "4") {
            document.getElementById("paymentMonth").innerText = "April";
        } else if (paymentMonth == "5") {
            document.getElementById("paymentMonth").innerText = "May";
        } else if (paymentMonth == "6") {
            document.getElementById("paymentMonth").innerText = "June";
        } else if (paymentMonth == "7") {
            document.getElementById("paymentMonth").innerText = "July";
        } else if (paymentMonth == "8") {
            document.getElementById("paymentMonth").innerText = "August";
        } else if (paymentMonth == "9") {
            document.getElementById("paymentMonth").innerText = "September";
        } else if (paymentMonth == "10") {
            document.getElementById("paymentMonth").innerText = "October";
        } else if (paymentMonth == "11") {
            document.getElementById("paymentMonth").innerText = "November";
        } else if (paymentMonth == "12") {
            document.getElementById("paymentMonth").innerText = "December";
        }
        
        var paymentMonth2 = document.getElementById("paymentMonth2").innerText;
        if (paymentMonth2 == "1") {
            document.getElementById("paymentMonth2").innerText = "January";
        } else if (paymentMonth2 == "2") {
            document.getElementById("paymentMonth2").innerText = "February";
        } else if (paymentMonth2 == "3") {
            document.getElementById("paymentMonth2").innerText = "March";
        } else if (paymentMonth2 == "4") {
            document.getElementById("paymentMonth2").innerText = "April";
        } else if (paymentMonth2 == "5") {
            document.getElementById("paymentMonth2").innerText = "May";
        } else if (paymentMonth2 == "6") {
            document.getElementById("paymentMonth2").innerText = "June";
        } else if (paymentMonth2 == "7") {
            document.getElementById("paymentMonth2").innerText = "July";
        } else if (paymentMonth2 == "8") {
            document.getElementById("paymentMonth2").innerText = "August";
        } else if (paymentMonth2 == "9") {
            document.getElementById("paymentMonth2").innerText = "September";
        } else if (paymentMonth2 == "10") {
            document.getElementById("paymentMonth2").innerText = "October";
        } else if (paymentMonth2 == "11") {
            document.getElementById("paymentMonth2").innerText = "November";
        } else if (paymentMonth2 == "12") {
            document.getElementById("paymentMonth2").innerText = "December";
        }
        
        
        
        
        /* ********************** */
        /* REFER TO COURT HEARING */
        var paymentMonth = document.getElementById("hearingMonth").innerText;
        if (paymentMonth == "1") {
            document.getElementById("hearingMonth").innerText = "January";
        } else if (paymentMonth == "2") {
            document.getElementById("hearingMonth").innerText = "February";
        } else if (paymentMonth == "3") {
            document.getElementById("hearingMonth").innerText = "March";
        } else if (paymentMonth == "4") {
            document.getElementById("hearingMonth").innerText = "April";
        } else if (paymentMonth == "5") {
            document.getElementById("hearingMonth").innerText = "May";
        } else if (paymentMonth == "6") {
            document.getElementById("hearingMonth").innerText = "June";
        } else if (paymentMonth == "7") {
            document.getElementById("hearingMonth").innerText = "July";
        } else if (paymentMonth == "8") {
            document.getElementById("hearingMonth").innerText = "August";
        } else if (paymentMonth == "9") {
            document.getElementById("hearingMonth").innerText = "September";
        } else if (paymentMonth == "10") {
            document.getElementById("hearingMonth").innerText = "October";
        } else if (paymentMonth == "11") {
            document.getElementById("hearingMonth").innerText = "November";
        } else if (paymentMonth == "12") {
            document.getElementById("hearingMonth").innerText = "December";
        }

        
        
        
        
        
        var payCourtTerms = document.getElementById('payCourtTerms').innerText;
        if ((payCourtTerms == "Lump sum within 14 days") || (payCourtTerms == "Lump sum within 28 days")) {
            //document.getElementById("totalPayment").style.display = "none";
            document.getElementById("lumpSumAmount").style.display = "none";
            document.getElementById("instalmentOnly").style.display = "none";
            
            //document.getElementById("dischargeLumpSum").style.display = "none";
            document.getElementById("dischargeLumpSumInstal").style.display = "none";
            document.getElementById("dischargeInstal").style.display = "none";
            
        } else if (payCourtTerms == "Lump sum plus instalments") {
            document.getElementById("totalPayment").style.display = "none";
            //document.getElementById("lumpSumAmount").style.display = "none";
            document.getElementById("instalmentOnly").style.display = "none";
            
            document.getElementById("dischargeLumpSum").style.display = "none";
            //document.getElementById("dischargeLumpSumInstal").style.display = "none";
            document.getElementById("dischargeInstal").style.display = "none";
            
        } else if (payCourtTerms == "Instalments only") {
            document.getElementById("totalPayment").style.display = "none";
            document.getElementById("lumpSumAmount").style.display = "none";
            //document.getElementById("instalmentOnly").style.display = "none";
            
            document.getElementById("dischargeLumpSum").style.display = "none";
            document.getElementById("dischargeLumpSumInstal").style.display = "none";
            //document.getElementById("dischargeInstal").style.display = "none";
            
        }
        
        // totalPayment
        // lumpSumAmount
        // instalmentOnly
        
        
        // document.getElementById("dischargeLumpSum").style.display = "none";
        // document.getElementById("dischargeLumpSumInstal").style.display = "none";
        // document.getElementById("dischargeInstal").style.display = "none";
        // dischargeLumpSum
        // dischargeLumpSumInstal
        // dischargeInstal
        
        
        var defendentsTitle = document.getElementById('defendentsTitle').innerText;
        if (defendentsTitle == " ") {
            document.getElementById('defendentsTitle').innerText = "";
        }

    }
</script>

<style>
    .court-decision td, .payment-and-collection td {
        border: 0;
        padding: 5px;
    }
    .court-decision td:first, .payment-and-collection td:first {
        width:40%;
    }
    .table-cell-width {
        width: 40%;
    }
</style>

<div id="overlay-file-1" onclick="overlay_file_1_off()">
    <div id="overlay-info">
        <h3 class="heading-medium top_0 bottom_15">Remove a file</h3>
        <p class="top_15 bottom_15">Are you sure you want to remove the following file?</p>        
        <table class="removeFileTable">
            <tbody>
                <tr>
                    <td class="bold">Name</td>
                    <td>SJP notice</td>
                </tr>
                <tr>
                    <td class="bold">Type</td>
                    <td>PDF, 256KB, 3 pages</td>
                </tr>
                <tr>
                    <td class="bold">Uploaded on</td>
                    <td>15 January 2018</td>
                </tr>
            </tbody>
        </table>
        <input class="button top_20 bottom_15" type="submit" value="Confirm and remove file" onclick="removeFile1(); overlay_file_1_off()">
        <p class="remove-link bottom_0" onclick="overlay_file_1_off()">cancel</p>
    </div>
</div>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">            
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            <div id="prosecutorCheck" style="display:none">{{ data['prosecutor-group'] }}</div>
            
            {% include "includes/persist-info-banner.html" %}

        </div>
    </div>

    <span style="display:none">{% include "includes/display-decision.html" %}</span>

    <div class="grid-row top_30">
        <div class="column-two-thirds">
            
            <h1 class="heading-xlarge top_0 bottom_5">{{ data['defendents-first-name']}} <span class="last-name">{{ data['defendents-last-name']}}</span></h1>
            <p class="form-hint">{{data['defendents-dob-day']}} <span id="dobMonth">{{data['defendents-dob-month']}}</span> {{data['defendents-dob-year']}} ({{data['defendents-age']}} years old)<br>
            {{data['defendents-address-line-1']}}, {{data['defendents-address-line-2']}}, {{data['defendents-town-or-city']}} {{data['defendents-postcode']}}</p>
                        
            <!-- WARNING BANNER PATTERN -->
            <div id="warningBanner" class="warning-banner-nest" style="display: none">
                <div class="warning-banner">
                    <div class="warning-banner-icon"><img src="/public/images/alert-icon-white.svg" class="warning-banner-icon"></div>
                    <div class="warning-banner-text">The following defendant details have been updated:
                        <div id="dob" class="top_10">Date of bith</div>
                        <div id="address" class="top_5">Address details</div>
                        <div id="name" class="top_5">Name</div>
                        
                        <div id="warningBannerSwitch" style="display:none">{{data['warning-banner-switch']}}</div>
                    </div>
                </div>
            </div>
            
            <div class="tabGroup top_30">
                <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Case details</a>
                <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Defendant details</a>
                <a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Income</a>
                <hr>
            </div>
            <div id="tabContent" class="top_30">
                
                <!-- TAB ONE -->
                <div id="tabOneContent">
                    <h4 class="heading-medium bottom_10">Case details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Case status</th>
                            <td id="case-status" style="border: none">{{data['case-status']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Prosecutor</th>
                            <td style="border: none">{{data['prosecutor']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Notice served</th>
                            <td style="border: none">{{data['notice-served']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Dates to avoid</th>
                            <td style="border: none">{{data['dates-to-avoid']}}</td>
                        </tr>
                    </table>
                </div>
                
                <!-- TAB TWO -->
                <div id="tabTwoContent">
                    <h4 class="heading-medium bottom_10">Defendant details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Name</th>
                            <td style="border: none"><span id="defendentsTitle">{{data['defendents-title']}} </span>{{data['defendents-first-name']}} <span class="last-name">{{data['defendents-last-name']}}</span></td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Date of birth</th>
                            <td style="border: none">{{data['defendents-dob-day']}} 
                                
                                <span id="dobMonth2">{{data['defendents-dob-month']}}</span>
                                
                                {{data['defendents-dob-year']}} ({{data['defendents-age']}} years old)</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Address</th>
                            <td style="border: none">{{data['defendents-address-line-1']}}<br>
                            {{data['defendents-address-line-2']}}<br>
                            {{data['defendents-town-or-city']}}<br>
                            {{data['defendents-postcode']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Email</th>
                            <td style="border: none">{{data['defendents-email']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Home telephone</th>
                            <td id="addHomeTelephone" style="border: none"><a href="add-or-change-personal-details.html" title="">Add home telephone</a></td>
                            <td id="homeTelephone" style="border: none">{{data['defendents-home-telephone']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Mobile</th>
                            <td style="border: none">{{data['defendents-mobile']}}</td>
                        </tr>
                    </table>
                    
                    <p class="top_15"><a href="add-or-change-personal-details.html" title="">Change defendant details</a></p>
                </div>

                <!-- TAB THREE -->
                <div id="tabThreeContent">
                    <h4 class="heading-medium bottom_10">Income</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">National Insurance number</th>
                            <td style="border: none">{{data['defendents-nin']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Net income (converted to weekly)</th>
                            <td style="border: none">£<span id="incomeCalculation">{{data['defendents-income-amount']}}</span><span id="incomeFrequency" style="display:none">{{data['income-frequency-group']}}</span></td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Claiming benefits</th>
                            <td style="border: none"><span id="benefits-being-claimed">{{data['claiming-benefits-group']}}</span><span id="benefits-details-group"> - {{data['benefits-details']}}</span></td>
                        </tr>
                    </table>
                    
                    <p class="top_15"><a href="add-or-change-income.html" title="">Change income details</a></p>
                </div>

            </div>
            
            <hr class="top_60 bottom_60">
            
            <h2 class="heading-large">Offence 1</h2>
            <h3 class="heading-medium bottom_5">{{data['offence-type']}}</h3>
            <p>{{data['offence-description']}}</p>
            <p id="backDutyLength" class="bold">{{data['back-duty-description']}}</p>
            
            <div class="top_60">
                <span id="defendantsPlea" class="label">{{data['defendents-plea']}}</span><span id="changePleaLink" style="margin-left: 15px"><a href="change-plea.html">Change plea</a></span>
            </div>
        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr ">
                <h3 class="heading-small">Documents</h3>
                <!-- Thumbnail - small icon -->
                <div class="download-file top_15 bottom_30">
                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                    <div class="download-file-text">
                        <span class="font-xsmall dummy-link">SJP notice</span>
                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                    </div>
                </div>
                
                <h3 class="heading-small">Online plea</h3>
                <p><a href="defendants-online-plea.html">Defendant's online plea</a></p>

            </div>
        </div>

    </div>

    <div class="grid-row top_15">
        <div class="column-two-thirds">
            
            <div id="statmentOfFactGroup">
                <h3 class="heading-medium bottom_5">Statement of facts</h3>
                <p>{{data['statement-of-facts']}}</p>
            </div>
            
            <div id="tabGroup2">
                <div class="tabGroup2 top_60">
                    <a id="tabA2" class="tab-on-2" onclick="tabGroup2(tabContent2, 'TAB-ONE-2')" href="javascript: void(0)">Details</a>
                    <a id="tabB2" class="tab2" onclick="tabGroup2(tabContent2, 'TAB-TWO-2')" href="javascript: void(0)">Decision</a>
                    <hr>
                </div>
                <div id="tabContent2" class="top_30">

                    <!-- TAB ONE -->
                    <div id="tabOneContent2">
                        <h3 class="heading-medium bottom_5 top_0">Statement of facts</h3>
                        <p>{{data['statement-of-facts']}}</p>
                    </div>

                    <!-- TAB TWO -->
                    <div id="tabTwoContent2">
                        
                        <!-- FINANCIAL PENALTY TAB -->
                        <div id="financialPenaltyTab">

                            <!-- COURT DECISION -->
                            <h4 class="heading-medium bottom_10 top_0">Court decision</h4>
                        
                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Verdict</td>
                                        <td>{{data['verdict']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">To pay a <span style="text-transform: lowercase">{{ data['penalty-or-fine'] }}</span> of</td>
                                        <td>£{{data['penalty-or-fine-amount']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">To pay compensation</td>
                                        <td>£{{data['compensation-amount']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">To pay costs of</td>
                                        <td>£{{data['costs']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Defendant's guilty plea</td>
                                        <td>Taken into account when imposing sentence</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Decision made</td>
                                        <td>
                                            <div>13 April 2018</div>
                                            <div class="top_10">Legal adviser: Joe Bloggs<br>
                                            Magistrate: {{ data['magistrates-name']}}<br>
                                            <span class="form-hint">Lorem Ipsum Magistrate's Court</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr>

                            <!-- PAYMENT AND COLLECTION -->
                            <h4 class="heading-medium bottom_10 top_0">Payment and collection</h4>
                            
                            <span id="payCourtTerms" style="display: none">{{data['how-should-defendent-pay-group']}}</span>
                            
                            <span id="setReserveTermsGroup" style="display:none">{{data['set-reserve-terms-group']}}</span>

                            <table class="payment-and-collection">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Collection order made</td>
                                        <td>{{data['payment-method-group']}}</td>
                                    </tr>

                                    <tr id="totalPayment">
                                        <td class="bold table-cell-width">Payment terms</td>
                                        <td>£{{data['total-payment']}} to be paid as a <span style="text-transform: lowercase">{{data['how-should-defendent-pay-group']}}</span></td>
                                    </tr>
                                    
                                    <tr id="lumpSumAmount_b">
                                        <td class="bold table-cell-width">Lump sum</td>
                                        <td>£{{data['lump-sum-amount']}}</td>
                                    </tr>
                                    
                                    <tr id="lumpSumAmount">
                                        <td class="bold table-cell-width">Payment terms</td>
                                        <td>£{{data['instalment-amount-1']}} to be paid <span id="howToPayGroup" style="text-transform: lowercase">{{data['instalment-length-group']}}</span> starting on
                                            
                                        <span id="paymentDay">{{data['day']}}</span>
                                        <span id="paymentMonth">{{data['month']}}</span>
                                        <span id="paymentYear">{{data['year']}}</span></td>
                                            
                                    </tr>
                                    
                                    <tr id="instalmentOnly">
                                        <td class="bold table-cell-width">Payment terms</td>
                                        <td>£{{data['instalments-only-amount']}} to be paid <span style="text-transform: lowercase">{{data['instalment-only-frequency-group']}}</span> starting on  
                                        
                                        <span id="paymentDay2">{{data['day']}}</span> 

                                        <span id="paymentMonth2">{{data['month']}}</span> 

                                        <span id="paymentYear2">{{data['year']}}</span></td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                        </div>

                        <!-- REFER TO COURT HEARING TAB -->
                        <div id="referToCourtHearingTab">
                            <h4 class="heading-medium bottom_10 top_0">Court decision</h4>
                            
                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Referred to full court hearing</td>
                                        <td>
                                            <p class="top_0 bottom_10">Summons issued for hearing before {{ data['refer-to-which-court-group'] }} on {{ data['hearing-day'] }} <span id="hearingMonth">{{ data['hearing-month'] }}</span> {{ data['hearing-year'] }} at {{ data['court-room-group'] }} at {{ data['hearing-time-hour'] }}:{{ data['hearing-time-minute'] }}.</p>
                                            <p class="top_10 bottom_15">Reason: {{data['reason-for-referring-to-court-group']}}</p>
                                        </td>
                                    </tr>
                                    
                                    <tr style="border-top: 1px solid #BFC1C3">
                                        <td class="bold"><p class="bold top_15">Decision made</p></td>
                                        <td>
                                            <div class="top_15">13 April 2018</div>
                                            <div class="top_10">Legal adviser: Joe Bloggs<br>
                                            Magistrate: {{ data['magistrates-name']}}<br>
                                            <span style="color:#6F777B">Lorem Ipsum Magistrate's Court Magistrate's Court</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        
                        <!-- DISMISS TAB -->
                        <div id="dismissTab">
                            <h4 class="heading-medium bottom_10 top_0">Court decision</h4>
                        
                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Verdict</td>
                                        <td>{{data['verdict']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Result</td>
                                        <td>{{data['decision']}}ed</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Decision made</td>
                                        <td>
                                            <div>1 May 2018</div>
                                            <div class="top_10">Legal adviser: Joe Bloggs<br>
                                            Magistrates: {{ data['magistrates-name']}}<br>
                                            <span class="form-hint">Stratford Magistrate's Court</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        
                        <!-- DISCHARGE TAB -->
                        <div id="dischargeTab">
                            
                            <!-- COURT DECISION -->
                            <h4 class="heading-medium bottom_10 top_0">Court decision</h4>
                            
                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Result</td>
                                        <td>{{data['decision']}}d</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">To pay compensation of</td>
                                        <td>£{{data['discharge-compensation']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Costs</td>
                                        <td>£{{data['discharge-costs']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Victim surcharge</td>
                                        <td>£{{data['discharge-victim-surcharge']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Decision made</td>
                                        <td>
                                            <div>13 April 2018</div>
                                            <div class="top_10">Legal adviser: Joe Bloggs<br>
                                            Magistrates: {{ data['magistrates-name']}}<br>
                                            <span class="form-hint">Lorem Ipsum Magistrate's Court Magistrate's Court</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <hr>

                            <!-- PAYMENT AND COLLECTION -->
                            <h4 class="heading-medium">Payment and collection</h4>
                            
                            <!--{{data['how-should-defendent-pay-group']}}-->
                            
                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Collection order made</td>
                                        <td><span id="dischargeConfirmCollectionOrder">{{data['discharge-confirm-collection-order']}}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Total to pay</td>
                                        <td>£{{data['total-payment-discharge']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Payment method</td>
                                        <td>{{data['payment-method-group']}}</td>
                                    </tr>
                                
                                    <tr id="dischargeLumpSum">
                                        <td class="bold">Payment terms</td>
                                        <td>Lump sum only coming soon</td>
                                    </tr>
                                    
                                    <tr id="dischargeLumpSumInstal">
                                        <td class="bold">Payment terms</td>
                                        <td>Lump sum + instalments coming soon</td>
                                    </tr>

                                    <tr id="dischargeInstal">
                                        <td class="bold">Payment terms</td>
                                        <td>Instalments only coming soon</td>
                                    </tr>

                                    
                                    
                                    
                                    
                                </tbody>
                            </table>

                        </div>
                        
                        <!-- WITHDRAW TAB -->
                        <div id="withdrawTab">
                            <h4 class="heading-medium bottom_10 top_0">Court decision</h4>

                            <table class="court-decision">
                                <tbody>
                                    <tr>
                                        <td class="bold table-cell-width">Offence withdrawn</td>
                                        <td>{{data['withdrawn-reason']}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Decision made</td>
                                        <td>
                                            <div>1 May 2018</div>
                                            <div class="top_10">Legal adviser: Joe Bloggs<br>
                                            Magistrates: {{ data['magistrates-name']}}<br>
                                            <span class="form-hint">Stratford Magistrate's Court</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div>
                        
                    </div>

                </div>   
            </div>

        </div>
        
        <div class="column-one-third" style="margin-top: 45px">
            <div class="right-column-nav">
                
                <form id="makeADecisionForm" class="form" action="" method="post">
                    <div class="form-group">
                        <fieldset>

                            <legend>
                                <h1 class="heading-medium top_0 bottom_15">Make a decision</h1>
                            </legend>

                            <div id="noPlea">
                                <div class="multiple-choice" data-target="prove-sjp-type">
                                    <input id="radio-1" type="radio" name="make-a-decision-group" value="Prove SJP">
                                    <label for="radio-1">Prove SJP</label>
                                </div>
                                
                                <div class="js-hidden" id="prove-sjp-type">
                                    <div class="panel panel-border-wide top_15">
                                        <fieldset>

                                            <div class="multiple-choice" data-target="prove-sjp-type">
                                                <input id="radio-1b" type="radio" name="make-a-decision-group-b" value="Financial penalty">
                                                <label for="radio-1b">Financial penalty</label>
                                            </div>
                                            <div class="multiple-choice" data-target="prove-sjp-type">
                                                <input id="radio-2b" type="radio" name="make-a-decision-group-b" value="Discharge">
                                                <label for="radio-2b">Discharge</label>
                                            </div>
                                            
                                        </fieldset>
                                    </div>
                                </div>
                                
                                <div class="multiple-choice">
                                    <input id="radio-2" type="radio" name="make-a-decision-group" value="Withdraw">
                                    <label for="radio-2">Withdraw</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-3" type="radio" name="make-a-decision-group" value="Refer to court hearing">
                                    <label for="radio-3">Refer to court hearing</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-4" type="radio" name="make-a-decision-group" value="Dismiss">
                                    <label for="radio-4">Dismiss</label>
                                </div>
                            </div>
                            
                            <div id="guiltyPlea">
                                <div class="multiple-choice">
                                    <input id="radio-1-2" type="radio" name="make-a-decision-group" value="Financial penalty">
                                    <label for="radio-1-2">Financial penalty</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-2-2" type="radio" name="make-a-decision-group" value="Discharge">
                                    <label for="radio-2-2">Discharge</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-3-2" type="radio" name="make-a-decision-group" value="Refer to court hearing">
                                    <label for="radio-3-2">Refer to court hearing</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-4-2" type="radio" name="make-a-decision-group" value="Withdraw">
                                    <label for="radio-4-2">Withdraw</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-5-2" type="radio" name="make-a-decision-group" value="Dismiss">
                                    <label for="radio-5-2">Dismiss</label>
                                </div>
                            </div>
                            
                            <div id="notGuiltyPlea">
                                <div class="multiple-choice">
                                    <input id="radio-1-3" type="radio" name="make-a-decision-group" value="Refer to court hearing">
                                    <label for="radio-1-3">Refer to court hearing</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-2-3" type="radio" name="make-a-decision-group" value="Withdraw">
                                    <label for="radio-2-3">Withdraw</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="radio-3-3" type="radio" name="make-a-decision-group" value="Dismiss">
                                    <label for="radio-2-3">Dismiss</label>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                        <input class="button top_15" type="submit" value="Continue">
                            
                    </div>
                </form>

            </div>
        </div>
        
    </div>

</main>

{% endblock %}