{% extends "layout-dashboard.html" %}

{% block page_title %}
  CJS CPP homepage template version two
{% endblock %}

{% block content %}

{% include "includes/homepage_header_template_2.html" %}

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
        
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds"> 
            
            <h2 class="heading-medium">Make case decisions</h2> 
            <p><a href="start-a-new-sjp-session.html" title="">Start a new SJP session</a> (1 case)</p>
                                    
        </div>
                
    </div>
    
</main>

{% endblock %}