6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    .information td {
        border: none;
        padding:5px;
    }
</style>

<script>
    window.onload = function() {
                
    }
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            {% include "includes/persist-info-banner.html" %}
            
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">
                        
            <h1 class="heading-xlarge top_0 bottom_30">Deduct from benefits</h1>
            
            <h3 class="heading-medium">Defendant's details</h3>
            <p><span class="bold">National Insurance number:</span> {{ data['defendents-nin']}}</p>
            
            <form class="form" action="" method="post">
                <div class="form-group">

                    <!-- REASON FOR DEDUCTING FROM BENEFITS -->
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium">Reason for deducting from benefits</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-a1" type="radio" name="reason-for-deducting-from-benefits-group" value="Compensation ordered" {{ checked('reason-for-deducting-from-benefits-group','Compensation ordered') }}>
                            <label for="radio-a1">Compensation ordered</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-a2" type="radio" name="reason-for-deducting-from-benefits-group" value="Defendant failed to pay in past" {{ checked('reason-for-deducting-from-benefits-group','Defendant failed to pay in past') }}>
                            <label for="radio-a2">Defendant failed to pay in past</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice">
                            <input id="radio-a3" type="radio" name="reason-for-deducting-from-benefits-group" value="Defendant requested this" {{ checked('reason-for-deducting-from-benefits-group','Defendant requested this') }}>
                            <label for="radio-a3">Defendant requested this</label>
                        </div>
                    </fieldset>
                    
                    <!-- SET RESERVE TERMS -->
                    <fieldset>
                        
                        <legend>
                            <h1 class="heading-medium">Set reserve terms</h1>
                        </legend>
                        
                        <div class="multiple-choice">
                            <input id="radio-b1" type="radio" name="dbo-set-reserve-terms-group" value="Lump sum within 14 days" {{ checked('dbo-set-reserve-terms-group','Lump sum within 14 days') }}>
                            <label for="radio-b1">Lump sum within 14 days</label>
                        </div>
                        
                        <div class="multiple-choice">
                            <input id="radio-b2" type="radio" name="dbo-set-reserve-terms-group" value="Lump sum within 28 days" {{ checked('dbo-set-reserve-terms-group','Lump sum within 28 days') }}>
                            <label for="radio-b2">Lump sum within 28 days</label>
                        </div>
                        
                        <div class="multiple-choice" data-target="lump-sum-plus-instalments">
                            <input id="radio-b3" type="radio" name="dbo-set-reserve-terms-group" value="Lump sum plus instalments" {{ checked('dbo-set-reserve-terms-group','Lump sum plus instalments') }}>
                            <label for="radio-b3">Lump sum plus instalments</label>
                        </div>
                        
                                <div class="js-hidden" id="lump-sum-plus-instalments">
                                    <div class="panel panel-border-wide top_15">

                                        <fieldset>
                                            <label class="form-label" for="dbo-lump-sum-amount">Lump sum amount</label>
                                            <div class="input-icon">
                                                <i>£</i>
                                                <input class="form-control" id="dbo-lump-sum-amount" type="number" min="0.0" step="0.01"  name="dbo-lump-sum-amount" value="{{ data['dbo-lump-sum-amount'] }}">
                                            </div>
                                        </fieldset>

                                        <fieldset class="top_15">
                                            <label class="form-label" for="dbo-instalment-amount-1">Instalment amount</label>
                                            <div class="input-icon">
                                                <i>£</i>
                                                <input class="form-control" id="dbo-instalment-amount-1" type="number" min="0.0" step="0.01"  name="dbo-instalment-amount-1" value="{{ data['dbo-instalment-amount-1'] }}">
                                            </div>
                                        </fieldset>

                                        <fieldset class="top_15">
                                            <legend>
                                                <p>How often should instalment be made?</p>
                                            </legend>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-1" type="radio" name="dbo-lump-sum-instalment-frequency-group" value="Weekly" {{ checked('dbo-lump-sum-instalment-frequency-group','Weekly') }}>
                                                <label for="instalment-frequency-1">Weekly</label>
                                            </div>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-2" type="radio" name="dbo-lump-sum-instalment-frequency-group" value="Fortnightly" {{ checked('dbo-lump-sum-instalment-frequency-group','Fortnightly') }}>
                                                <label for="instalment-frequency-2">Fortnightly</label>
                                            </div>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-3" type="radio" name="dbo-lump-sum-instalment-frequency-group" value="Monthly" {{ checked('dbo-lump-sum-instalment-frequency-group','Monthly') }}>
                                                <label for="instalment-frequency-3">Monthly</label>
                                            </div>
                                        </fieldset>

                                        <fieldset class="top_15">
                                            <legend>
                                                <span class="form-label">Instalment start date</span>
                                                <span class="form-hint">For example, 31 3 2018</span>
                                            </legend>
                                            <div class="form-date">
                                                <div class="form-group form-group-day">
                                                    <label class="form-label" for="dbo-day2">Day</label>
                                                    <input class="form-control" id="dbo-day2" name="dbo-day2" type="number" pattern="[0-9]*" value="{{ data['dbo-day2'] }}">
                                                </div>
                                                <div class="form-group form-group-month">
                                                    <label class="form-label" for="dbo-month2">Month</label>
                                                    <input class="form-control" id="dbo-month2" name="dbo-month2" type="number" pattern="[0-9]*" value="{{ data['dbo-month2'] }}">
                                                </div>
                                                <div class="form-group form-group-year">
                                                    <label class="form-label" for="dbo-year2">Year</label>
                                                    <input class="form-control" id="dbo-year2" name="dbo-year2" type="number" pattern="[0-9]*" value="{{ data['dbo-year2'] }}">
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                        
                        <div class="multiple-choice" data-target="instalments-only">
                            <input id="radio-b4" type="radio" name="dbo-set-reserve-terms-group" value="Instalments only" {{ checked('dbo-set-reserve-terms-group','Instalments only') }}>
                            <label for="radio-b4">Instalments only</label>
                        </div>
                        
                                <div class="js-hidden" id="instalments-only">
                                    <div class="panel panel-border-wide top_15">
                                        <label class="form-label" for="instalment-amount-2">Instalment amount</label>
                                        <div class="input-icon">
                                            <i>£</i>
                                            <input class="form-control" id="dbo-instalment-amount-2" type="number" min="0.0" step="0.01"  name="dbo-instalment-amount-2" value="{{ data['dbo-instalment-amount-2'] }}">
                                        </div>

                                        <fieldset class="top_15">
                                            <legend>
                                                <p>How often should instalment be made?</p>
                                            </legend>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-1" type="radio" name="dbo-instalment-only-frequency-group" value="Weekly" {{ checked('dbo-instalment-only-frequency-group','Weekly') }}>
                                                <label for="instalment-frequency-1">Weekly</label>
                                            </div>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-2" type="radio" name="dbo-instalment-only-frequency-group" value="Fortnightly" {{ checked('dbo-instalment-only-frequency-group','Fortnightly') }}>
                                                <label for="instalment-frequency-2">Fortnightly</label>
                                            </div>
                                            <div class="multiple-choice">
                                                <input id="instalment-frequency-3" type="radio" name="dbo-instalment-only-frequency-group" value="Monthly" {{ checked('dbo-instalment-only-frequency-group','Monthly') }}>
                                                <label for="instalment-frequency-3">Monthly</label>
                                            </div>
                                        </fieldset>

                                        <fieldset class="top_15">
                                            <legend>
                                                <span class="form-label">Instalment start date</span>
                                                <span class="form-hint">For example, 31 3 2018</span>
                                            </legend>
                                            <div class="form-date">
                                                <div class="form-group form-group-day">
                                                    <label class="form-label" for="dbo-day">Day</label>
                                                    <input class="form-control" id="dbo-day" name="dbo-day" type="number" pattern="[0-9]*" value="{{ data['dbo-day'] }}">
                                                </div>
                                                <div class="form-group form-group-month">
                                                    <label class="form-label" for="dbo-month">Month</label>
                                                    <input class="form-control" id="dbo-month" name="dbo-month" type="number" pattern="[0-9]*" value="{{ data['dbo-month'] }}">
                                                </div>
                                                <div class="form-group form-group-year">
                                                    <label class="form-label" for="dbo-year">Year</label>
                                                    <input class="form-control" id="dbo-year" name="dbo-year" type="number" pattern="[0-9]*" value="{{ data['dbo-year'] }}">
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                        
                    </fieldset>
                    
                    <input class="button top_15" type="submit" value="Continue">
                    <div class="top_15"><a href="javascript:history.go(-1);">Back</a></div>

                </div>
            </form>
            
        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr ">
                <h3 class="heading-small">Documents</h3>
                <!-- Thumbnail - small icon -->
                <div class="download-file top_15 bottom_30">
                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                    <div class="download-file-text">
                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                    </div>
                </div>
                
                <h3 class="heading-small">Online plea</h3>
                <p><a href="#">Defendant's online plea</a></p>

            </div>
        </div>

    </div>

</main>

{% endblock %}