6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    table td {
        /*border-bottom: none;*/
        padding: 15px 0 15px 0;
    }
</style>

<script>
    window.onload = function() {
        
        
        /* ************* */
        /* ************* */
        /* CONVERT MONTH */
        var dobMonth2 = document.getElementById("dobMonth2").innerText;

        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var monthsShort = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        document.getElementById("dobMonth2").innerText = months[dobMonth2];
                
        var defendantsHomeTelephone = document.getElementById('defendantsHomeTelephone').innerText;
        if (defendantsHomeTelephone == "") {
            document.getElementById('defendantsHomeTelephone').innerText = "—"
        }
    }
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            {% include "includes/persist-info-banner.html" %}

        </div>
    </div>

    {% include "includes/display-decision.html" %}

    <div class="grid-row top_30">
        <div class="column-full">

            <h1 class="heading-xlarge top_0 bottom_5">Defendant's online plea</h1>
            <p>Submitted online on 28 January 2018 at 2:35pm</p>
            
            <table>
                <caption class="heading-medium bottom_0">Defendant details</caption>
                <tbody>
                    <tr>
                        <td style="width:50%">Name</td>
                        <td>{{data['defendents-first-name']}} <span class="last-name">{{data['defendents-last-name']}}</span></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{data['defendents-address-line-1']}}<br>
                            {{data['defendents-address-line-2']}}<br>
                            {{data['defendents-town-or-city']}}<br>
                            {{data['defendents-postcode']}}
                        </td>
                    </tr>
                    <tr>
                        <td>Home telephone</td>
                        <td id="defendantsHomeTelephone">{{data['defendents-home-telephone']}}</td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>{{data['defendents-mobile']}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{data['defendents-email']}}</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>{{data['defendents-dob-day']}} <span id="dobMonth2">{{data['defendents-dob-month']}}</span> {{data['defendents-dob-year']}} ({{data['defendents-age']}} years old)</td>
                    </tr>
                    <tr>
                        <td>National Insurance number</td>
                        <td>{{data['defendents-nin']}}</td>
                    </tr>
                </tbody>
            </table>
                        
            <table>
                <caption class="heading-medium top_60 bottom_0">Plea</caption>
                <tbody>
                    <tr>
                        <td style="width:50%">How they pleaded</td>
                        <td>{{data['defendents-plea']}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%">How to complete case</td>
                        <td>Online</td>
                    </tr>
                    <tr>
                        <td style="width:50%">Information for magistrates (mitigation)</td>
                        <td>{{data['mitigation']}}</td>
                    </tr>
                </tbody>
            </table>
            
            
            
            
            
            
            <table>
                <caption class="heading-medium top_60 bottom_0">Finances</caption>
                <tbody>
                    <tr>
                        <td class="heading-small top_60 bottom_0" colspan="3">Employment</td>
                    </tr>
                    <tr>
                        <td style="width:50%">{{data['income-frequency-group']}} pay</td>
                        <td>£ {{data['defendents-income-amount']}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%">Employment status</td>
                        <td>{{data['employment-status-group']}}</td>
                    </tr>
                    <tr>
                        <td style="width:50%">Claiming benefits?</td>
                        <td>{{data['claiming-benefits-group']}}</td>
                    </tr>
                </tbody>
            </table>
            

            
            
            
            
            
            <table>
                <caption class="heading-medium top_60 bottom_0">Outgoings</caption>
                <tbody>
                    <tr>
                        <td style="width:50%">Monthly amount</td>
                        <td>£ 850</td>
                    </tr>
                    <tr style="border: none">
                        <td colspan="3" style="border-bottom: none; padding-bottom:5px">This includes the following:</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; border-bottom: none; padding-top: 5px; padding-bottom:5px">Accomodation</td>
                        <td style="border-bottom: none; padding-top: 5px; padding-bottom:5px">£ 450</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; border-bottom: none; padding-top: 5px; padding-bottom:5px">Council tax</td>
                        <td style="border-bottom: none; padding-top: 5px; padding-bottom:5px">£ 80</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; border-bottom: none; padding-top: 5px; padding-bottom:5px">Household bills</td>
                        <td style="border-bottom: none; padding-top: 5px; padding-bottom:5px">£ 120</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; border-bottom: none; padding-top: 5px; padding-bottom:5px">Travel expenses</td>
                        <td style="border-bottom: none; padding-top: 5px; padding-bottom:5px">£ 35</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; border-bottom: none; padding-top: 5px; padding-bottom:5px">Child maintenance</td>
                        <td style="border-bottom: none; padding-top: 5px; padding-bottom:5px">£ 50</td>
                    </tr>
                    <tr>
                        <td style="width:50%; padding-left:40px; padding-top: 5px;">Any other significant expenses</td>
                        <td style="padding-top: 5px;">£ 115 - Caring for my elderly parents</td>
                    </tr>
                </tbody>
            </table>
            

            
            
            
            
            
        </div>
    </div>
    
    <div class="grid-row top_10">
        <div class="column-two-thirds">
            
            <h4 class="heading-medium">Note added</h4>
            <p>{{data['notes-added']}}</p>
            
        </div>
    </div>
    
    <div class="grid-row">
        <div class="column-full">

            <form class="form" action="" method="post">
                <input class="button top_30" type="submit" value="Back">
            </form>

        </div>

    </div>
    
</main>

{% endblock %}