6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    .information td {
        border: none;
        padding:5px;
    }
</style>

<script>
    window.onload = function() {
                
    }
</script>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            
            <div class="peristant-info-banner">
                <div class="peristant-info-banner-content">9012466 <span class="bold">{{ data['defendents-first-name']}} {{ data['defendents-last-name']}}</span><span style="text-decoration: underline;float:right;margin-right:15px">End session</span></div>
            </div>
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">
                        
            <h1 class="heading-xlarge top_0 bottom_30">Pay direct to court</h1>
            
            <div class="panel panel-border-wide bottom_30">
                <p class="bottom_5">Total to pay</p>
                <p class="bold top_5">£{{data['total-payment']}}</p>
            </div>
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium top_0">Select why you didn’t deduct from benefits or attach to earnings</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="deduct-from-benefits-group" value="No information from defendant">
                            <label for="radio-1">No information from defendant</label>
                        </div>
                        <div class="multiple-choice" data-target="other-reason">
                            <input id="radio-2" type="radio" name="deduct-from-benefits-group" value="Other reason">
                            <label for="radio-2">Other reason</label>
                        </div>
                        <div class="js-hidden" id="other-reason">
                            <div class="panel panel-border-wide top_15">
                                <label class="form-label" for="textarea">Enter a reason</label>
                                <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            <h1 class="heading-medium top_30">How should defendant pay the court?</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="deduct-from-benefits-group" value="No information from defendant">
                            <label for="radio-1">Lump sum within 14 days</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="deduct-from-benefits-group" value="No information from defendant">
                            <label for="radio-1">Lump sum within 28 days</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="deduct-from-benefits-group" value="No information from defendant">
                            <label for="radio-1">Lump sum plus instalments</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice" data-target="instalment-details">
                            <input id="radio-2" type="radio" name="deduct-from-benefits-group" value="Other reason">
                            <label for="radio-2">Instalment only</label>
                        </div>
                        
                        <div class="js-hidden" id="instalment-details">
                            <div class="panel panel-border-wide top_15">
                                
                                <fieldset>
                                    <label class="form-label" for="instalment-amount">Instalment amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="instalment-amount" type="number" min="0.0" step="0.01"  name="instalment-amount">
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <h1>How often should instalments be made?</h1>
                                    </legend>
                                    <div class="multiple-choice top_10">
                                        <input id="radio-1" type="radio" name="instalment-length-group" value="Weekly">
                                        <label for="radio-1">Weekly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-2" type="radio" name="instalment-length-group" value="Fortnightly">
                                        <label for="radio-2">Fortnightly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-3" type="radio" name="instalment-length-group" value="Monthly">
                                        <label for="radio-3">Monthly</label>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <span class="form-label">Instalment start date</span>
                                        <span class="form-hint">For example, 31 3 1980</span>
                                    </legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-day">
                                            <label class="form-label" for="dob-day">Day</label>
                                            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label class="form-label" for="dob-month">Month</label>
                                            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label class="form-label" for="dob-year">Year</label>
                                            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </fieldset>

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <input class="button top_15" type="submit" value="Continue">
                    
                </div>
            </form>

        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr ">
                <h3 class="heading-small">Documents</h3>
                <!-- Thumbnail - small icon -->
                <div class="download-file top_15 bottom_30">
                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                    <div class="download-file-text">
                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                    </div>
                </div>
                
                <h3 class="heading-small">Online plea</h3>
                <p><a href="#">Defendant's online plea</a></p>

            </div>
        </div>

    </div>

</main>

{% endblock %}