6{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    .information td {
        border: none;
        padding:5px;
    }
</style>

<script>
    window.onload = function() {
                
    }
</script>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            
            <div class="peristant-info-banner">
                <div class="peristant-info-banner-content">9012466 <span class="bold">{{ data['defendents-first-name']}} {{ data['defendents-last-name']}}</span><span style="text-decoration: underline;float:right;margin-right:15px">End session</span></div>
            </div>
        </div>
    </div>

    {% include "includes/display-decision.html" %}

    <div class="grid-row top_30">
        <div class="column-two-thirds">
                        
            <h1 class="heading-xlarge top_0 bottom_30">Pay direct to court</h1>
            
            <div class="panel panel-border-wide bottom_30">
                <p class="bottom_5">Total to pay</p>
                <p class="bold top_5">£{{data['total-payment']}}{{data['total-payment-discharge']}}</p>
            </div>
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium top_0">Select why you didn’t deduct from benefits or attach to earnings</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="deduct-from-benefits-group" value="No information from defendant" {{ checked('deduct-from-benefits-group','No information from defendant') }}>
                            <label for="radio-1">No information from defendant</label>
                        </div>
                        <div class="multiple-choice" data-target="other-reason">
                            <input id="radio-2" type="radio" name="deduct-from-benefits-group" value="Other reason" {{ checked('deduct-from-benefits-group','Other reason') }}>
                            <label for="radio-2">Other reason</label>
                        </div>
                        <div class="js-hidden" id="other-reason">
                            <div class="panel panel-border-wide top_15">
                                <label class="form-label" for="other-reason">Enter a reason</label>
                                <textarea class="form-control form-control-3-4" name="other-reason" id="other-reason" rows="5"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            <h1 class="heading-medium top_30">How should defendant pay the court?</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1a" type="radio" name="how-should-defendent-pay-group" value="Lump sum within 14 days" {{ checked('how-should-defendent-pay-group','Lump sum within 14 days') }}>
                            <label for="radio-1a">Lump sum within 14 days</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-2a" type="radio" name="how-should-defendent-pay-group" value="Lump sum within 28 days" {{ checked('how-should-defendent-pay-group','Lump sum within 28 days') }}>
                            <label for="radio-2a">Lump sum within 28 days</label>
                        </div>
                        <div class="multiple-choice" data-target="lump-sum-plus-instalment-details">
                            <input id="radio-3a" type="radio" name="how-should-defendent-pay-group" value="Lump sum plus instalments" {{ checked('how-should-defendent-pay-group','Lump sum plus instalments') }}>
                            <label for="radio-3a">Lump sum plus instalments</label>
                        </div>
                        <div class="js-hidden" id="lump-sum-plus-instalment-details">
                            <div class="panel panel-border-wide top_15">
                                
                                <fieldset>
                                    <label class="form-label" for="lump-sum-amount">Lump sum amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="lump-sum-amount" type="number" min="0.0" step="0.01"  name="lump-sum-amount" value="{{ data['lump-sum-amount'] }}">
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <label class="form-label" for="instalment-amount-1">Instalment amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="instalment-amount-1" type="number" min="0.0" step="0.01"  name="instalment-amount-1" value="{{ data['instalment-amount-1'] }}">
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <h1>How often should instalments be made?</h1>
                                    </legend>
                                    <div class="multiple-choice top_10">
                                        <input id="radio-1b" type="radio" name="instalment-length-group" value="Weekly" {{ checked('instalment-length-group','Weekly') }}>
                                        <label for="radio-1b">Weekly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-2b" type="radio" name="instalment-length-group" value="Fortnightly" {{ checked('instalment-length-group','Fortnightly') }}>
                                        <label for="radio-2b">Fortnightly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-3b" type="radio" name="instalment-length-group" value="Monthly" {{ checked('instalment-length-group','Monthly') }}>
                                        <label for="radio-3b">Monthly</label>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <span class="form-label">Instalment start date</span>
                                        <span class="form-hint">For example, 31 3 1980</span>
                                    </legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-day">
                                            <label class="form-label" for="day">Day</label>
                                            <input class="form-control" id="day" name="day" type="number" pattern="[0-9]*" value="{{ data['day'] }}">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label class="form-label" for="month">Month</label>
                                            <input class="form-control" id="month" name="month" type="number" pattern="[0-9]*" value="{{ data['month'] }}">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label class="form-label" for="year">Year</label>
                                            <input class="form-control" id="year" name="year" type="number" pattern="[0-9]*" value="{{ data['year'] }}">
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        
                        <p class="form-block">or</p>
                        
                        <div class="multiple-choice" data-target="instalment-details">
                            <input id="radio-4a" type="radio" name="how-should-defendent-pay-group" value="Instalments only" {{ checked('how-should-defendent-pay-group','Instalments only') }}>
                            <label for="radio-4a">Instalments only</label>
                        </div>
                        <div class="js-hidden" id="instalment-details">
                            <div class="panel panel-border-wide top_15">
                                
                                <fieldset>
                                    <label class="form-label" for="instalment-amount-2">Instalment amount</label>
                                    <div class="input-icon">
                                        <i>£</i>
                                        <input class="form-control" id="instalment-amount-2" type="number" min="0.0" step="0.01"  name="instalment-amount-2" value="{{ data['instalment-amount-2'] }}">
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <h1>How often should instalments be made?</h1>
                                    </legend>
                                    <div class="multiple-choice top_10">
                                        <input id="radio-1b" type="radio" name="instalment-length-group" value="Weekly" {{ checked('instalment-length-group','Weekly') }}>
                                        <label for="radio-1b">Weekly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-2b" type="radio" name="instalment-length-group" value="Fortnightly" {{ checked('instalment-length-group','Fortnightly') }}>
                                        <label for="radio-2b">Fortnightly</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-3b" type="radio" name="instalment-length-group" value="Monthly" {{ checked('instalment-length-group','Monthly') }}>
                                        <label for="radio-3b">Monthly</label>
                                    </div>
                                </fieldset>
                                
                                <fieldset class="top_30">
                                    <legend>
                                        <span class="form-label">Instalment start date</span>
                                        <span class="form-hint">For example, 31 3 1980</span>
                                    </legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-day">
                                            <label class="form-label" for="day2">Day</label>
                                            <input class="form-control" id="day2" name="day2" type="number" pattern="[0-9]*" value="{{ data['day2'] }}">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label class="form-label" for="month2">Month</label>
                                            <input class="form-control" id="month2" name="month2" type="number" pattern="[0-9]*" value="{{ data['month2'] }}">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label class="form-label" for="year2">Year</label>
                                            <input class="form-control" id="year2" name="year2" type="number" pattern="[0-9]*" value="{{ data['year2'] }}">
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </fieldset>
                    
                    <input class="button top_15" type="submit" value="Continue">
                    <div class="top_15"><a href="javascript:history.go(-1);">Back</a></div>
                    
                </div>
            </form>

        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr ">
                <h3 class="heading-small">Documents</h3>
                <!-- Thumbnail - small icon -->
                <div class="download-file top_15 bottom_30">
                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                    <div class="download-file-text">
                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                    </div>
                </div>
                
                <h3 class="heading-small">Online plea</h3>
                <p><a href="#">Defendant's online plea</a></p>

            </div>
        </div>

    </div>

</main>

{% endblock %}