{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    tr {
        vertical-align: top;
    }
</style>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
                                    
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">

            <form class="form" action="" method="post">
                <h1 class="heading-xlarge top_0 bottom_30">Start a new Single Justice Procedure session</h1>
            
                
                <fieldset class="bottom_30">
                    <label class="form-label" for="court-location">Court location</label>
                    <select class="form-control" id="court-location" name="court-location">
                        <option>Court location one</option>
                        <option>Court location two</option>
                        <option>Court location three</option>
                    </select>
                </fieldset>
                
                <div class="form-group">
                    <fieldset data-required data-error="Select yes or no">
                        <legend class="bottom_5">Are you working with a magistrate?</legend>

                        <div class="multiple-choice" data-target="magistrateYes">
                            <input id="radio-1" type="radio" name="delegate-powers-group" value="Yes" {{ checked('radio-group','Yes') }}>
                            <label for="radio-1">Yes</label>
                        </div>

                        <div class="js-hidden" id="magistrateYes">
                            <div class="panel panel-border-wide">
                                <label class="form-label" for="magistrates-name">Magistrates' name</label>
                                <input class="form-control" id="magistrates-name" type="text" name="magistrates-name" value="{{ data['magistrates-name']}}">
                            </div>
                        </div>

                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="delegate-powers-group" value="No" {{ checked('radio-group','No') }}>
                            <label for="radio-2">No – I’m working under delegated powers</label>
                        </div>
                    </fieldset>
                </div>

                <input class="button top_30" type="submit" value="Start session">
                <div class="top_15"><a href="/legaladviser/dashboard">Cancel</a></div>
            </form>
            
        </div>
        
        <div class="coloumn-one-third">
            <!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE -->
            <!--
            <div class="right-column-nav">
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p><a href="">Withdraw offence</a></p>
            </div>
            -->
        </div>
    </div>

</main>

{% endblock %}


