{% extends "layout-CPP-no-sign-in.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge top_60 bottom_5">
                ATCM Legal Adviser
            </h1>

            <p class="form-hint">This prototype is built using the GOV.UK prototype kit {{releaseVersion}}</p>
            
            <h2 class="top_60 bottom_10 heading-medium">What does this prototype include?</h2>
            
            <p class="heading-small">All prosecutors</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Search for "Jones" - search will always show the same user, "Camilla Jones"</li>
                    <li>Defendant's online plea</li>
                    <li>Change plea flow</li>
                    <li>Add or change defendant details</li>
                    <li>Add or change income</li>
                    <li>Make a decision flow</li>
                    <li>Start a new Single Justice Procedure session flow</li>
                    <li>End session link is functional</li>
                </ul>
            </ul>
            
            <p class="heading-small">IdAM sign in</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Username can be anything</li>
                    <li>Password can be anything</li>
                </ul>
            </ul>
            
            <p class="heading-small">IdAM sign out</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Signing out completely will take the user to GOV.UK homepage</li>
                </ul>
            </ul>

            <p class="top_30 bottom_10"><span class="bold">NOTE:</span></p>
            <p class="top_10 bottom_60">The 'Decision' tab on the case details page does not always display the correct content for financial penalty and discharge.</p>
            
            <!--<a href="/legaladviser/dashboard">Let's get started</a>-->
            
            <form class="form" action="" method="post">
                
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-medium top_15">Choose a flow</h1>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="prosecutor-group" value="DVLA (with back duty)" checked="checked">
                            <label for="radio-1">DVLA (with back duty)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="prosecutor-group" value="DVLA (no back duty)">
                            <label for="radio-2">DVLA (no back duty)</label>
                        </div>
                        
                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="prosecutor-group" value="TFL">
                            <label for="radio-2">Transport for London</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="prosecutor-group" value="TVL">
                            <label for="radio-2">TV Licensing</label>
                        </div>

                    </fieldset>
                </div>
                
                <input class="button" type="submit" value="Continue">

            </form>


        </div>
    </div>
</main>

{% endblock %}


